#root {
  background-color: rgb(226, 248, 255);
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

.MuiContainer-root {
  background-color: rgb(125, 150, 205);
  border-radius: 1rem;
  padding: 1rem;
}