#root {
  background-color: rgb(226, 248, 255);
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

.MuiContainer-root {
  background-color: rgb(181, 199, 237);
  border-radius: 1rem;
}

.MuiGrid-container {
  justify-content: center;
  align-items: center;
}